<div class="container">
  <div class="page-header">
    <div class="row text-center">
      <%= image_tag("logo2.png" ) %>
    </div>
  </div>
</div>
<div class="container" id="home-page">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Billqu</h1>
      <hr class="star-light">
    </div>
  </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Billqu is a way to share information about medical bills. Understanding to empower your ability as a medical consumer</p>
      </div>
      <div class="col-lg-4">
        <p>Reasearch and understand your bills. Share your knowlege with other users</p>
      </div>
  </div>
</div>           
