    <!-- Header -->
<div class="container", id='home-page'>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag("profile.png", :alt => "profile") %>
      <div class="intro-text">
        <span class="name">Billqu</span>
        </br>
        <span class="skills">Crowdsourced Medical Billing Questions</span>
      </div>
    </div>
  </div>
</div>
<section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Billqu</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Billqu is a way to share information about medical bills. Understanding to empower your ability as a medical consumer</p>
                </div>
                <div class="col-lg-4">
                    <p>Reasearch and understand your bills. Share your knowlege with other users</p>
                </div>
            </div>
        </div>
    </section>