@import "bootstrap";
@import "font-awesome";


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.navbar-default {
  background-color: #DBF0FF;
}

.footer {
  background-color: #DBF0FF;
}

h1 {
  font-weight: 900;
  font-size: 4em;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 30px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.alrts  {
  margin-top: 40px;
}

.cncl {
  margin: 0 auto;
}

.billqu-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.billqu-form .form-signin-heading,
.billqu-form .checkbox {
  margin-bottom: 10px;
}

.billqu-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

#signin h2,
#signup h2 {
  text-align: center;
}

#signin,
#signup {
  padding-top: 75px;
}



